@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
  background-color: #dbdbff;
}

body {
  margin: 0;
  font-family: 'Anton', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sage-title {
  font-size: 169px;
  background: url(sage-wallpaper.png) -150px -100px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  transition: 0.05s;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #111; */
}

.title-center {
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
  color: #111;
  border: solid 2px;
  border-color: #ffe6dc;
}

.row {
  width: 100%;
  box-sizing: border-box;
  padding: 0 100px 0 100px;
}

.card-container {
  float: left;
  display: block;
  padding: 10px;
  width: 50%;
  margin-top: 10px;
  box-sizing: border-box;
}

.card {
  margin: 0 auto;
  text-align: center;
  height: 369px;
  border-radius: 5px;
  border: solid 1px;
  overflow: hidden;
  position: relative;
  
}

.card-img {
  width:100%;
  min-height:100%;
  object-fit: cover;
  /* object-position: -100px; */
}

.img-container {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.hide {
  opacity: 0;
}
.letter {
  position: absolute;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

@media (max-width : 800px) {

  .sage-title {
    font-size: 80px; 
    overflow: hidden;
    background: url(sage-wallpaper.png) -500px -100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
  }
  .row {
    padding: 0 10% 0 10%;
  }
  .card-container {
    width: 100%;
    display: block;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
  }
  
}

.fade {
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  opacity: 1;
}

.no-opacity {
  opacity: 0;
}

.full-opacity {
  opacity: 1;
}

.breeze {
  width: 100%;
  height: 100%;
  background: url(breeze-icon.jpg) -100px -220px;
  background-size: 1000px;
  background-repeat: no-repeat;
}

.button {
  text-decoration: none;
  overflow: hidden;
  color: #111;
  width: 90%;
  height: 100px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 100;
  transition: 0.5s;
  margin-left: 5%;
  margin-right: 5%;
}

.button:hover {
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 95%;
  color: #ebffe6;
}

.song-vid {
  width: 100%;
  min-height: 100%;
}

.rollContainer {
  margin: auto;
  margin-bottom: 10px;
}