@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  margin: 0;
  font-family: 'Anton', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sage-title {
  font-size: 169px;
  background: url(sage-wallpaper.png) -150px -100px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
}

.title-center {
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid black;
  padding: 30px;
  border-radius: 5px;
  border: solid 1px;
}

.row {
  width: 100%;
  box-sizing: border-box;
  padding: 0 100px 0 100px;
}

.card-container {
  float: left;
  display: block;
  padding: 10px;
  width: 50%;
  margin-top: 10px;
  box-sizing: border-box;
}

.card {
  margin: 0 auto;
  text-align: center;
  height: 369px;
  border-radius: 5px;
  border: solid 1px;
  overflow: hidden;
  position: relative;
  
}

.card-img {
  /* max-width:100%; */
  max-height:100%;
  object-fit: contain;
  object-position: -100px;
}

.img-container {
  height: 100%;
  position: absolute;
}

.hide {
  opacity: 0;
}
.letter {
  position: absolute;
}

@media (max-width : 800px) {

  .sage-title {
    font-size: 80px; 
    overflow: hidden;
    background: url(sage-wallpaper.png) -500px -100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
  }
  .row {
    padding: 0 10% 0 10%;
  }
  .card-container {
    width: 100%;
    display: block;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
  }
  
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.fade-out {
  animation: fadeOut ease 5s;
  -webkit-animation: fadeOut ease 5s;
  -moz-animation: fadeOut ease 5s;
  -o-animation: fadeOut ease 5s;
  -ms-animation: fadeOut ease 5s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}